html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit
}

html, body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5
}

html {
    overflow-x: hidden
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

.rey-serif {
    font-family: serif
}

.rey-sans-serif {
    font-family: sans-serif
}

.rey-cursive {
    font-family: cursive
}

.rey-monospace {
    font-family: monospace
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}

.rey-wide {
    letter-spacing: 4px
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0
}

.rey-image {
    max-width: 100%;
    height: auto
}

img {
    vertical-align: middle
}

a {
    color: inherit
}

.rey-table, .rey-table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table
}

.rey-table-all {
    border: 1px solid #ccc
}

.rey-bordered tr, .rey-table-all tr {
    border-bottom: 1px solid #ddd
}

.rey-striped tbody tr:nth-child(even) {
    background-color: #f1f1f1
}

.rey-table-all tr:nth-child(odd) {
    background-color: #fff
}

.rey-table-all tr:nth-child(even) {
    background-color: #f1f1f1
}

.rey-hoverable tbody tr:hover, .rey-ul.rey-hoverable li:hover {
    background-color: #ccc
}

.rey-centered tr th, .rey-centered tr td {
    text-align: center
}

.rey-table td, .rey-table th, .rey-table-all td, .rey-table-all th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top
}

.rey-table th:first-child, .rey-table td:first-child, .rey-table-all th:first-child, .rey-table-all td:first-child {
    padding-left: 16px
}

.rey-btn, .rey-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.rey-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.rey-btn, .rey-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.rey-disabled, .rey-btn:disabled, .rey-button:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

.rey-disabled *, :disabled * {
    pointer-events: none
}

.rey-btn.rey-disabled:hover, .rey-btn:disabled:hover {
    box-shadow: none
}

.rey-badge, .rey-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center
}

.rey-badge {
    border-radius: 50%
}

.rey-ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.rey-ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd
}

.rey-ul li:last-child {
    border-bottom: none
}

.rey-tooltip, .rey-display-container {
    position: relative
}

.rey-tooltip .rey-text {
    display: none
}

.rey-tooltip:hover .rey-text {
    display: inline-block
}

.rey-ripple:active {
    opacity: 0.5
}

.rey-ripple {
    transition: opacity 0s
}

.rey-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}

.rey-select {
    padding: 9px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc
}

.rey-dropdown-click, .rey-dropdown-hover {
    position: relative;
    display: inline-block;
    cursor: pointer
}

.rey-dropdown-hover:hover .rey-dropdown-content {
    display: block
}

.rey-dropdown-hover:first-child, .rey-dropdown-click:hover {
    background-color: #ccc;
    color: #000
}

.rey-dropdown-hover:hover > .rey-button:first-child, .rey-dropdown-click:hover > .rey-button:first-child {
    background-color: #ccc;
    color: #000
}

.rey-dropdown-content {
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 0;
    z-index: 1
}

.rey-check, .rey-radio {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px
}

.rey-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto
}

.rey-bar-block .rey-dropdown-hover, .rey-bar-block .rey-dropdown-click {
    width: 100%
}

.rey-bar-block .rey-dropdown-hover .rey-dropdown-content, .rey-bar-block .rey-dropdown-click .rey-dropdown-content {
    min-width: 100%
}

.rey-bar-block .rey-dropdown-hover .rey-button, .rey-bar-block .rey-dropdown-click .rey-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px
}

.rey-main, #main {
    transition: margin-left .4s
}

.rey-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.rey-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

.rey-bar {
    width: 100%;
    overflow: hidden
}

.rey-center .rey-bar {
    display: inline-block;
    width: auto
}

.rey-bar .rey-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.rey-bar .rey-dropdown-hover, .rey-bar .rey-dropdown-click {
    position: static;
    float: left
}

.rey-bar .rey-button {
    white-space: normal
}

.rey-bar-block .rey-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.rey-bar-block.rey-center .rey-bar-item {
    text-align: center
}

.rey-block {
    display: block;
    width: 100%
}

.rey-responsive {
    display: block;
    overflow-x: auto
}

.rey-container:after, .rey-container:before, .rey-panel:after, .rey-panel:before, .rey-row:after, .rey-row:before, .rey-row-padding:after, .rey-row-padding:before,
.rey-cell-row:before, .rey-cell-row:after, .rey-clear:after, .rey-clear:before, .rey-bar:before, .rey-bar:after {
    content: "";
    display: table;
    clear: both
}

.rey-half img {
    cursor: pointer;
}

.rey-col, .rey-half, .rey-third, .rey-twothird, .rey-threequarter, .rey-quarter {
    float: left;
    width: 100%
}

.rey-col.s1 {
    width: 8.33333%
}

.rey-col.s2 {
    width: 16.66666%
}

.rey-col.s3 {
    width: 24.99999%
}

.rey-col.s4 {
    width: 33.33333%
}

.rey-col.s5 {
    width: 41.66666%
}

.rey-col.s6 {
    width: 49.99999%
}

.rey-col.s7 {
    width: 58.33333%
}

.rey-col.s8 {
    width: 66.66666%
}

.rey-col.s9 {
    width: 74.99999%
}

.rey-col.s10 {
    width: 83.33333%
}

.rey-col.s11 {
    width: 91.66666%
}

.rey-col.s12 {
    width: 99.99999%
}

.rey-top, .rey-bottom {
    position: fixed;
    width: 100%;
    z-index: 1
}

.rey-top {
    top: 0
}

.rey-bottom {
    bottom: 0
}

.rey-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2
}

.rey-display-topleft {
    position: absolute;
    left: 0;
    top: 0
}

.rey-display-topright {
    position: absolute;
    right: 0;
    top: 0
}

.rey-display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0
}

.rey-display-bottomright {
    position: absolute;
    right: 0;
    bottom: 0
}

.rey-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.rey-display-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%)
}

.rey-display-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%)
}

.rey-display-topmiddle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}

.rey-display-bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}

.rey-display-container:hover .rey-display-hover {
    display: block
}

.rey-display-container:hover span.rey-display-hover {
    display: inline-block
}

.rey-display-hover {
    display: none
}

.rey-display-position {
    position: absolute
}

.rey-circle {
    border-radius: 50%
}

.rey-round-small {
    border-radius: 2px
}

.rey-round, .rey-round-medium {
    border-radius: 4px
}

.rey-round-large {
    border-radius: 8px
}

.rey-round-xlarge {
    border-radius: 16px
}

.rey-round-xxlarge {
    border-radius: 32px
}

.rey-row-padding, .rey-row-padding > .rey-half, .rey-row-padding > .rey-third, .rey-row-padding > .rey-twothird, .rey-row-padding > .rey-threequarter, .rey-row-padding > .rey-quarter, .rey-row-padding > .rey-col {
    padding: 0 8px
}

.rey-container, .rey-panel {
    padding: 0.01em 16px
}

.rey-panel {
    margin-top: 16px;
    margin-bottom: 16px
}

.rey-code, .rey-codespan {
    font-family: Consolas, "courier new", sans-serif;
    font-size: 16px
}

.rey-code {
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #4CAF50;
    word-wrap: break-word
}

.rey-codespan {
    color: crimson;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%
}

.rey-card, .rey-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.rey-card-4, .rey-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.rey-opacity, .rey-hover-opacity:hover {
    opacity: 0.60
}

.rey-opacity-off, .rey-hover-opacity-off:hover {
    opacity: 1
}

.rey-opacity-max {
    opacity: 0.25
}

.rey-opacity-min {
    opacity: 0.75
}

.rey-greyscale-max, .rey-grayscale-max, .rey-hover-greyscale:hover, .rey-hover-grayscale:hover {
    filter: grayscale(100%)
}

.rey-greyscale, .rey-grayscale {
    filter: grayscale(75%)
}

.rey-greyscale-min, .rey-grayscale-min {
    filter: grayscale(50%)
}

.rey-sepia {
    filter: sepia(75%)
}

.rey-sepia-max, .rey-hover-sepia:hover {
    filter: sepia(100%)
}

.rey-sepia-min {
    filter: sepia(50%)
}

.rey-tiny {
    font-size: 10px !important
}

.rey-small {
    font-size: 12px !important
}

.rey-medium {
    font-size: 15px !important
}

.rey-large {
    font-size: 18px !important
}

.rey-xlarge {
    font-size: 24px !important
}

.rey-xxlarge {
    font-size: 36px !important
}

.rey-xxxlarge {
    font-size: 48px !important
}

.rey-jumbo {
    font-size: 64px !important
}

.rey-left-align {
    text-align: left !important
}

.rey-right-align {
    text-align: right !important
}

.rey-justify {
    text-align: justify !important
}

.rey-center {
    text-align: center !important
}

.rey-border-0 {
    border: 0 !important
}

.rey-border {
    border: 1px solid #ccc !important
}

.rey-border-top {
    border-top: 1px solid #ccc !important
}

.rey-border-bottom {
    border-bottom: 1px solid #ccc !important
}

.rey-border-left {
    border-left: 1px solid #ccc !important
}

.rey-border-right {
    border-right: 1px solid #ccc !important
}

.rey-topbar {
    border-top: 6px solid #ccc !important
}

.rey-bottombar {
    border-bottom: 6px solid #ccc !important
}

.rey-leftbar {
    border-left: 6px solid #ccc !important
}

.rey-rightbar {
    border-right: 6px solid #ccc !important
}

.rey-section, .rey-code {
    margin-top: 16px !important;
    margin-bottom: 16px !important
}

.rey-margin {
    margin: 16px !important
}

.rey-margin-top {
    margin-top: 16px !important
}

.rey-margin-bottom {
    margin-bottom: 16px !important
}

.rey-margin-left {
    margin-left: 16px !important
}

.rey-margin-right {
    margin-right: 16px !important
}

.rey-padding-small {
    padding: 4px 8px !important
}

.rey-padding {
    padding: 8px 16px !important
}

.rey-padding-large {
    padding: 12px 24px !important
}

.rey-padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important
}

.rey-padding-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important
}

.rey-padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important
}

.rey-padding-48 {
    padding-top: 48px !important;
    padding-bottom: 48px !important
}

.rey-padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important
}

.rey-padding-top-64 {
    padding-top: 64px !important
}

.rey-padding-top-48 {
    padding-top: 48px !important
}

.rey-padding-top-32 {
    padding-top: 32px !important
}

.rey-padding-top-24 {
    padding-top: 24px !important
}

.rey-left {
    float: left !important
}

.rey-right {
    float: right !important
}

.rey-button:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.rey-transparent, .rey-hover-none:hover {
    background-color: transparent !important
}

.rey-hover-none:hover {
    box-shadow: none !important
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif
}

.rey-row-padding img {
    margin-bottom: 12px
}

.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/rey_atwel.jpg');
    min-height: 100%;
}